.cart {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
}

.cart .summary {
  display: flex;
  flex-direction: column;
}

.cart li {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.2rem;
}
.title {
  border-bottom: 0.1rem solid #203040;
  font-size: 1.6rem;
}
.title div {
  font-size: 1.6rem;
  font-weight: bold;
}

.total {
  border-top: 0.1rem solid #203040;
  font-size: 1.6rem;
}
.total div {
  font-size: 1.6rem;
  font-weight: bold;
  color: #b12704;
}
/* .cart table {
  font-size: 1.4rem;
  text-align: left;
}

table td:last-child {
  text-align: right;
}

.total-row {
  color: #b12704;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;

  margin-top: 5px;
} */
