.header {
    display: grid;
}

.header li {
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 8rem;
    padding: 1rem
}

.header nav {
    display: flex;
    background-color: #203040;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;

}

.nav-bar {
    display: flex;
}

.header nav a {
    color: #ffffff;
    margin: 0 1rem;
}

.header nav a:hover {
    color: #ff8000;
}

.user-area {
    color: #ffffff;
}